@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
  --color-barra-lateral: rgb(221, 6, 13); /* Rojo Coca-Cola */
  --color-texto: rgb(255, 255, 255); /* Negro */
  --color-texto-menu: rgb(255, 255, 255); /* Gris */
  --color-menu-hover: rgb(238, 238, 238); /* Gris claro */
  --color-menu-hover-texto: rgb(0, 0, 0); /* Negro */
  --color-boton: rgb(0, 0, 0); /* Negro */
  --color-boton-texto: rgb(255, 255, 255); /* Blanco */
  --color-linea: rgb(180, 180, 180); /* Gris */
  --color-switch-base: rgb(201, 202, 206); /* Gris */
  --color-switch-circulo: rgb(241, 241, 241); /* Blanco */
  --color-scroll: rgb(192, 192, 192); /* Gris */
  --color-scroll-hover: rgb(134, 134, 134); /* Gris oscuro */
}

.dark-mode {
  --color-barra-lateral: rgb(44, 45, 49); /* Azul oscuro */
  --color-texto: rgb(255, 255, 255); /* Blanco */
  --color-texto-menu: rgb(255, 255, 255); /* Gris */
  --color-menu-hover: rgb(0, 0, 0); /* Negro */
  --color-menu-hover-texto: rgb(238, 238, 238); /* Blanco */
  --color-boton: rgb(255, 255, 255); /* Blanco */
  --color-boton-texto: rgb(0, 0, 0); /* Negro */
  --color-linea: rgb(90, 90, 90); /* Gris */
  --color-switch-base: rgb(39, 205, 64); /* Verde */
  --color-switch-circulo: rgb(255, 255, 255); /* Blanco */
  --color-scroll: rgb(68, 69, 74); /* Gris oscuro */
  --color-scroll-hover: rgb(85, 85, 85); /* Gris medio */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/ProyectoWebApp/img/coca1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -4;
}

/* Capa semitransparente sobre la imagen de fondo */
.capa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(130deg, #df2b34, #fb4c4c);
  opacity: 0.5;
  z-index: -3;
}

/* Responsive */
@media (max-height: 660px) {
  .barra-lateral .nombre-pagina {
      margin-bottom: 5px;
  }

  .barra-lateral .modo-oscuro {
      margin-bottom: 3px;
  }
}

@media (max-width: 600px) {
  .barra-lateral {
      position: fixed;
      left: -250px;
  }

  .max-barra-lateral {
      left: 0;
  }

  .menu {
      display: flex;
  }

  .menu ion-icon:nth-child(2) {
      display: none;
  }

  main {
      margin-left: 0;
  }

  main.min-main {
      margin-left: 0;
  }
}