<!DOCTYPE html>
<html lang="es">


<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Bloqueado</title>
    <!-- Enlazando el archivo CSS -->
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/bloqueado.css' %}">
</head>
<body>
    <div class="background-image"></div>
    <div class="capa"></div>
  
    
    <h1>Acceso Denegado</h1>
    <p>Lo sentimos, pero el acceso a esta aplicación no está permitido desde dispositivos móviles.</p>
</body>
</html>
